@font-face {
  font-family: "Pokemon Pixel Font Regular";
  src: url(../public/assets/fonts/pokemon_pixel_font.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f1f1f1;
  color: #002966;
  padding: 10px;
}

@media (max-width: 1200px) {
  .menu {
    width: 100% !important;
    margin-top: 370px;
  }

  .card-options {
    flex-direction: row !important;
  }
}

.maker {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-right: 20px;
  border-bottom: 1px #002966 solid;
}

.header svg {
  margin: 7px;
  color: #002966;
}

.header svg:hover {
  color: #2f72d8;
}

.menu {
  width: 40%;
  height: calc(100% - 70px);
  overflow: scroll;
  position: fixed;
  padding: 0px 20px;
}

.modal-body input {
  width: 400px;
}

.input-menu input {
  margin-left: 7px;
  border: 1px solid #002966;
}

.input-menu button {
  margin-left: 10px;
}

.input-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  border: 1px #002966 solid;
  padding: 15px;
}

.input-menu ul {
  padding-left: 0px;
}

.card-area {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 15px 30px;
  position: fixed;
  right: 0px;
  top: 100px;
  color: black;
}

.card-preview {
  height: 296px;
  width: 456px;
}

.card-preview img {
  position: absolute;
}

.card-preview p {
  position: absolute;
  z-index: 5;
  font-family: "Pokemon Pixel Font Regular";
  font-size: 28px;
}

.code {
  left: 270px;
  top: 10px;
}

.name {
  left: 80px;
  top: 46px;
}

.diamondpearl p {
  left: 100px;
  top: 20px;
}

.card-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 300px;
  right: 60px;
}

.card-frame {
  z-index: 1;
  right: 0px;
  top: -10px;
  margin-right: 60px;
  margin-bottom: 15px;
}

.card-custom-bg {
  position: absolute;
  width: 456px;
  height: 280px;
  top: -10px;
  left: 0px;
  border-radius: 20px;
  overflow: hidden;
}

.trainer-type1 {
  z-index: 2;
  right: 100px;
}

.trainer-type2 {
  z-index: 2;
  right: 65px;
}

.card-preview-bg {
  height: 140px;
  width: 228px;
  /* background-color: red; */
}

.btn-primary,
.btn-primary:focus {
  background-color: #f1f1f1;
  color: #002966;
  border-color: #002966;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 15px;
  padding: 2px 5px;
}

.btn-primary:hover {
  background-color: #002966;
  color: white;
}

.type {
  display: flex;
}

.dropdown {
  padding-right: 10px;
}

.dropdown-menu {
  height: fit-content;
  max-height: 240px;
  overflow: scroll;
}

.team-select {
  text-transform: capitalize;
}

.team-member {
  border: 1px #002966 solid;
  background-color: #f1f1f1;
  padding: 5px;
}

.team-member button {
  float: right;
  border: none;
  background: transparent;
  color: #002966;
  padding-right: 10px;
}

h3 {
  margin-top: 0px;
}

.team-select {
  border: 1px solid #002966;
}

.sprite-list {
  display: flex;
}

.sprite-list img {
  position: absolute;
  z-index: 10;
}

.sprite-0,
.sprite-1,
.sprite-2 {
  top: 94px;
}

.sprite-3,
.sprite-4,
.sprite-5 {
  top: 152px;
}

.sprite-0,
.sprite-3 {
  left: 15px;
}

.sprite-1,
.sprite-4 {
  left: 108px;
}

.sprite-2,
.sprite-5 {
  left: 202px;
}

.sprite-box {
  height: 52px;
  width: 87px;
  position: absolute;
  z-index: 10;
  background-position: center;
  /* background-size: 120%; */
}